@font-face
{
	font-family: "Modern Pics";
	src: url(../misc/modernpics.otf);
	font-weight: 400;
}
.Modern_Pics
{
	font: 20px "Modern Pics";
	margin-right: 2px;
}
/*~~~~~~~~~~~~~ Admin ~~~~~~~~~~~~~~~~~*/
#botonera, #botonera FIELDSET
{
	overflow: hidden;
	text-align: justify;
	-ms-text-justify: distribute-all-lines< text-justify: distribute-all-lines;
	padding-bottom: 30px;
	margin-bottom: 20px;
	border-bottom: 1px solid #E2E2E2;
}
#botonera .Boton
{
	background-color: #58B9EB;
	color: #FFFFFF;
	cursor: pointer;
	font: 15px "Myriad Pro", Helvetica, Arial, sans-serif !important;
	padding: 4px;
	margin-top: 5px;
	border-radius: 4px;
	width: 130px;
	display: inline-block;
	display: inline;
	zoom: 1;
}
.boton_es
{
	text-align: center;
	width: 100px !important;
	border: 1px solid #D6DFE6 !important;
	background: url(../img/boton.png) repeat;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	float: none;
}
.boton_es:hover
{
	box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
}
.boton_es:active
{
box-shadow: 2px 3px 3px rgba(0,0,0,0.2) inset;
}
.boton_checked
{
	background: url(../img/boton_checked_ok.png) repeat !important;
	width: 100px !important;
}
.boton_un_checked
{
	background: url(../img/boton_checked_ok.png) repeat 0 -41px !important;
}
/*~~~~~~~~~~~~~ FORM ~~~~~~~~~~~~~~~~~*/
.DIV_FORM
{
	margin: 20px auto;
	width: 910px;
}
.DIV_FORM INPUT, .DIV_FORM TEXTAREA, .DIV_FORM .error
{
	width: 702px;
}
.DIV_FORM TEXTAREA
{
	height: 300px !important;
	resize: vertical !important;
}
.DIV_FORM .medio_form
{
	float: none;
	margin-left: 90px;
}
.DIV_FORM .medio_form .texto_field
{
	float: left;
	height: 35px;
	text-align: left;
}
DIV.aviso
{
	background: #FFF7C9 !important;
}
DIV.aviso .texto_field
{
	width: 700px;
	margin: 0 !important;
	overflow: hidden;
	float: left;
}
DIV.aviso .cargador_img_opcion
{
	margin-left: 200px !important;
	overflow: hidden;
	padding: 0;
}
DIV.aviso A
{
	color: #000;
	font-weight: bold;
}
DIV.aviso A:hover
{
	text-decoration: underline;
}
/*~~~~~~~~~~ Mensajes ~~~~~~~~~~~~~~~~*/
#mensajes
{
	width: 800px;
	font: 20px Helvetica, Arial, sans-serif;
	padding-top: 10px;
	margin: auto;
}
#mensajes DT
{
	background: #F7F7F7;
	margin: 10px;
	height: 30px;
	padding-left: 5px;
	padding-right: 5px;
	overflow: visible;
	font: small-caps 15px Helvetica, Arial, sans-serif;
	color: #000;
}
#mensajes DD
{
	margin: 10px;
}
#mensajes #mensajes_opcion
{
	cursor: pointer;
}
#mensajes TABLE
{
	height: 232px;
	width: 780px;
	margin: 0 0 10px;
	background: #FAFAFA url(../img/fondo_men.png);
	border: 1px solid #F4F4F4;
	overflow: hidden;
	padding: 10px;
	box-shadow: 0 0 10px #C4C4C4;
	z-index: 2;
}
#mensajes TABLE .mensajes_opcion_El
{
	color: #640000;
	text-shadow: 1px 1px 2px #640000;
	float: right;
}
#mensajes TABLE .mensajes_opcion_El:active
{
	color: #640000;
	text-shadow: 0px 0px 2px #640000;
}
#mensajes TABLE TD
{
	font: 14px "Trebuchet MS", Helvetica, Arial, sans-serif;
	border-bottom: 1px dotted #E0E0E0;
	width: 1px;
}
#mensajes TABLE TD.sin_border
{
	border: 0px solid #FFFFFF;
}
#mensajes TABLE TD.mensajes_mensaje
{
	padding-top: 20px;
}
#mensajes TABLE TD.mensajes_mensaje A
{
	border-bottom: 1px dotted #E0E0E0;
	word-wrap: break-word;
}
#mensajes TABLE TR
{
}
#mensajes .cargando_table{
	height: 232px;
	width: 780px;
	position: absolute;
	z-index: 2;
	background: #FFF url(../imagenes/cargadando.gif) no-repeat center center;
}
/*~~~~~~~~~~   Menu   ~~~~~~~~~~~~~~~~*/
.menu
{
	background: url(../img/barra.png) repeat-x;
	height: 28px;
	border-left: 1px solid #DADADA;
	border-right: 1px solid #DADADA;
	border-bottom: 1px solid #DADADA;
	width: 722px;
	position: relative;
	display: inline-block;
	overflow: visible;
}
.menu DL
{
	float: left;
	width: 120px;
	text-align: left;
	margin-right: 10px;
	margin-left: 10px;
	cursor: default;
}
.menu DT
{
	border-left: 1px solid #DADADA;
	border-right: 1px solid #DADADA;
	border-bottom: 1px solid #DADADA;
}
.menu DT:active
{
	box-shadow: 1px 2px 2px rgba(0,0,0,0.1) inset;
}
.menu DT, .menu DD
{
	height: 28px;
	font: small-caps 15px helvetica;
	padding: 0 5px;
}
.menu DD
{
	margin: 0;
	font: small-caps bolder 12px helvetica;
	background: #F2F2F2;
	padding: 0 5px 0 10px;
	border: 1px solid #FFFFFF;
}
.menu DD:active
{
	box-shadow: 1px 2px 2px rgba(0,0,0,0.1) inset;
}
/*~~~~~~~~~~    CD    ~~~~~~~~~~~~~~~~*/
.Cuadro_Dialogo
{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: url(../img/fondo_dialog.png) repeat;
	z-index: 100;
}
.Cuadro_Dialogo_imagen
{
	position: relative;
	border: 1px solid #70A770;
	background: #F3F3E1;
/*margin-top:100px;
background: #F3F3E1 url(../img/ground.png) repeat;*/
	margin: 20px auto;
	min-width: 200px;
	min-height: 100px;
	width: 700px;
	z-index: 10;
	padding: 10px;
	box-shadow: 3px 4px 4px rgba(0,0,0,0.3);
	text-align: center;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.dropbox
{
	width: 900px;
	min-width: 200px;
	border: 1px solid #444443;
	outline: 0;
	margin: 20px 20px 0;
	font: normal 13px helvetica;
	color: #888883;
	padding: 0;
	height: 38px;
	background: #FFFFFF url(../img/dropbox.png) repeat;
	box-shadow: 2px 3px 3px rgba(0,0,0,0.1) inset;
	transition: 0.2s;
}
.dropbox SPAN
{
	background: #FFFFFF;
	font: bold 13px helvetica;
	color: #B2B2B2;
}
.miniatura
{
	max-width: 650px;
	max-height: 500px;
/*
border: 1px solid #020202;
margin: 15px;
max-width: 650px;
max-height: 600px;
box-shadow: 1px 2px 2px rgba(0,0,0,0.4)
-webkit-transition: 2s
-moz-transition: 2s
-o-transition: 2s
transition: 2s
*/
}
/*---> Galeria*/
.cargador_img
{
	padding: 10px;
	border: 2px dashed #BBB;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	font-family: "Open Sans", sans-serif;
	width: 700px;
	margin: auto;
}
.cargador_img .medio_form
{
	margin-left: 0;
}
.cargador_img_lista_archivos
{
	text-align: left;
}
.cargador_img_opcion
{
	font: small-caps 10px Helvetica, Arial, sans-serif;
	color: #000;
	cursor: pointer;
}
.Url_Img
{
	font-weight: bold;
}
/**************/
.jcrop-light .jcrop-selection
{
	-moz-box-shadow: 0px 0px 15px #999;
	-webkit-box-shadow: 0px 0px 15px #999;
	box-shadow: 0px 0px 15px #999
}
.jcrop-dark .jcrop-selection
{
	-moz-box-shadow: 0px 0px 15px #000;
	-webkit-box-shadow: 0px 0px 15px #000;
	box-shadow: 0px 0px 15px #000
}
.jcrop-fancy .jcrop-handle.ord-e
{
	-webkit-border-top-left-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
}
.jcrop-fancy .jcrop-handle.ord-w
{
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
}
.jcrop-fancy .jcrop-handle.ord-nw
{
	-webkit-border-bottom-right-radius: 0px;
}
.jcrop-fancy .jcrop-handle.ord-ne
{
	-webkit-border-bottom-left-radius: 0px;
}
.jcrop-fancy .jcrop-handle.ord-sw
{
	-webkit-border-top-right-radius: 0px;
}
.jcrop-fancy .jcrop-handle.ord-se
{
	-webkit-border-top-left-radius: 0px;
}
.jcrop-fancy .jcrop-handle.ord-s
{
	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
}
.jcrop-fancy .jcrop-handle.ord-n
{
	-webkit-border-bottom-left-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
}
