*{
	margin: 0;
	padding: 0 0 0 0px;
	outline: none;
}
HTML{
	overflow-y: scroll;
}
HTML, #cabecera, #pie{
	min-width: 995px;
}
BODY{
	background: #FF9F02 url(../img/fondos.png) repeat-x;
	text-align: left;
	margin: 0;
	font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #222;
}
BODY:before, BODY:after{
	content: "";
	position: fixed;
	top: -10px;
	left: -10px;
	width: 110%;
	height: 10px;
	z-index: 100;
}
IMG{
	border: 0;
}
A:link, A:visited, A:active{
	text-decoration: none;
}
A:hover{
	text-decoration: none;
}
UL, OL, DL{
	margin-top: 0;
	margin-bottom: 0;
}
DL{
	margin: 0 10px;
}
DT{
	font-weight: bold;
}
OL, UL{
	margin: 10px 20px 10px 30px;
}
OL{
	list-style: decimal;
}
LI{
	margin: 10px 0;
}
.clear{
	clear: both;
}
.none{
	display: none;
}
.central{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
IMG.valign{
	height: 100%;
	width: 0px;
	vertical-align: middle;
}
/*-> Cabecera*/
#cabecera{
	height: 192px;
	border-left: 1px solid #000000;
	background: #FFF;
}
#cabecera #cabecera_arriba{
	height: 150px;
	z-index: 1000;
	position: relative;
	background: url(../img/fondos.png);
}
#cabecera #cabecera_arriba #logo{
	background: transparent !important;
	float: left;
	z-index: 1;
}
#cabecera #logo, #cabecera #cabecera_arriba #logo{
	height: 126px;
	width: 320px;
	background: url(../img/sprite.png);
	margin: 10px 0 0 -490px;
	left: 50%;
	z-index: 1;
	position: absolute;
}
#cabecera #buscardor, #cabecera #social{
	margin: 50px 20px 0 0;
}
#cabecera #social{
	width: 140px;
	height: 30px;
	float: right;
}
#cabecera #buscardor{
	float: right;
	width: 200px;
	border: 1px solid #181818;
	background: #FFFFFF url(../img/sprite.png) -390px 0px;
	padding: 5px 35px 5px 5px;
}
#cabecera .social_item{
	width: 26px;
	height: 26px;
	float: left;
	margin: 2px 10px 0;
	background: url(../img/sprite.png);
}
.social_item_fb{
	background-position: -541px -26px !important;
}
.social_item_tw{
	background-position: -568px -26px !important;
}
.social_item_rss{
	background-position: -594px -26px !important;
}
#cabecera #menu{
	height: 42px;
	width: 100%;
	background: #151618;
	border-top: 2px solid #FFFFFF;
	margin-left: 0;
	text-align: center;
	z-index: 999999999999999;
}
#cabecera #menu A{
	font: bolder 21px "Trebuchet MS", Helvetica, Arial, sans-serif;
	color: #FFFFFF;
	margin: 10px 10px 0px;
	min-width: 145px;
	float: left;
	z-index: 999999999999999;
}
#cabecera #menu #repisa{
	width: 995px;
	position: absolute;
	height: 42px;
	left: 50%;
	margin-left: -497px;
	overflow: hidden;
}
#cabecera #menu .menu_item_local{
	border-bottom: 7px solid #FF6400;
}
/*-> Cuerpo*/
#cuerpo{
	width: 995px;
	margin: 34px auto 30px;
	overflow: hidden;
	background: #FFF;
	border-radius: 5px 5px 5px 5px;
	z-index: 2;
}
#cuerpo #cuerpo_centro{
	border-top: 30px solid #DDD;
	background: #FFFFFF;
	margin-right: 0;
}
#cuerpo #cuerpo_centro_izq, #cuerpo #cuerpo_centro_der{
	float: left;
	/*width: 440px;*/
	margin: 30px 0;
	overflow: hidden;
}
#cuerpo #cuerpo_centro_izq{
	margin-left: 20px;
	padding-right: 30px;
	border-right: 1px solid #ECECEC;
}
#cuerpo #cuerpo_centro_der{
	margin-right: 20px;
	margin-left: -1px;
	padding-left: 30px;
	border-left: 1px solid #ECECEC;
}
#cuerpo #cuerpo_centro_centro{
	float: left;
	width: 940px;
	margin: 30px 20px;
}
#cuerpo .cuerpo_centro_titulo{
	font: bold 30px "Century Gothic", "Trebuchet MS", Helvetica, Arial, sans-serif;
	padding: 0 100px 10px 0;
	margin-bottom: 20px;
	border-bottom: 7px solid #000000;
	display: inline-block;
}
#cuerpo DIV.post_conteiner{
	text-align: justify !important;
	text-justify: distribute-all-lines !important;
	margin: 20px 3px;
}
#cuerpo .post_conteiner .cuerpo_post, #GoogleMap, .post_conteiner .cuerpo_texto{
	display: inline-block !important;
	vertical-align: top !important;
	margin: 20px 0;
	overflow: hidden;
	width: 448px;
	height: 250px;
	zoom: 1;
}
#cuerpo .cuerpo_post_titulo{
	font: bold 23px "Century Gothic", "Trebuchet MS", Helvetica, Arial, sans-serif;
	border-left: 7px solid #000000;
	margin-bottom: 12px;
	padding-left: 12px;
	text-align: left;
}
.cuerpo_post .cuerpo_post_img{
	float: left;
	margin: 0 15px 0 0;
}
.cuerpo_post .cuerpo_post_descripcion{
	font: 14px "Century Gothic", "Trebuchet MS", Helvetica, Arial, sans-serif;
	text-align: left !important;
	padding-left: 20px;
	margin-bottom: 40px;
}
.cuerpo_post .cuerpo_post_ficha_tecnica{
	line-height:30px;
}
.cuerpo_post .post_img, .cuerpo_post #GoogleMap{
	margin: 0 0 20px;
	height: 201px;
	width: 537px;
}
#cuerpo #cuerpo_abajo{
	background: #DDD;
	height: 28px;
	clear: both;
	display: block;
	font: bolder 12px "Trebuchet MS", Helvetica, Arial, sans-serif;
	color: #666;
	text-align: center;
	text-shadow: 0 1px rgba(0, 0, 0, .2);
}
#cuerpo .cuerpo_texto{
	font: 14px "Century Gothic", "Trebuchet MS", Helvetica, Arial, sans-serif;
}
.cuerpo_post_izq, .cuerpo_post_der{
	margin: 20px 1px 10px;
	width: 537px;
	float: left;
}
.cuerpo_post_der{
	width: 346px;
	float: right;
}
.post_conteiner .cuerpo_texto{
	font: bold 15px "Trebuchet MS", sans-serif !important;
	text-align: left;
}
/*-> Formulario*/
FORM FIELDSET{
	border: none;
	text-align: center;
	z-index: 1;
}
FORM TEXTAREA{
	height: 150px !important;
	padding-top: 10px !important;
	resize: none;
}
FORM INPUT, FORM TEXTAREA, FORM SELECT{
	color: #888;
	font: 15px "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-shadow: 1px 1px 0 white;
	outline: 0;
	width: 500px;
	height: 35px;
	padding: 2px 10px 0;
	font: 12px arial,sans-serif;
	margin-top: 0;
	margin-bottom: 0;
	background: #F6F6F6;
	color: #666;
	font-size: 13px;
	overflow: :hidden;

}
FORM INPUT[type=text],INPUT[type=password], FORM TEXTAREA, FORM SELECT{
	border: 1px solid #B9B9B9;
	border-top-color: #A4A4A4;
	color: #AAA;
	-webkit-box-shadow: 0 1px 0 white;
	   -moz-box-shadow: 0 1px 0 #fff;
	    -ms-box-shadow: 0 1px 0 #fff;
	        box-shadow: 0 1px 0 white;
}
.FORM_focus{
	background: #f9f9f9;
	color: #555!important
}

FORM#Form_Buscador INPUT{
	width: 200px;
}
FORM SELECT{
	width: 220px;
}
FORM INPUT.aceptar{
	width: 530px;
	font: bolder  12px arial,sans-serif;
	color: #555;
	
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#fffafafa,EndColorStr=#ffdcdcdc);
	background-image: -moz-linear-gradient(top,#FAFAFA 0,gainsboro 100%);
	background-image: -ms-linear-gradient(top,#FAFAFA 0,gainsboro 100%);
	background-image: -o-linear-gradient(top,#FAFAFA 0,gainsboro 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#FAFAFA),color-stop(100%,gainsboro));
	background-image: -webkit-linear-gradient(top,#FAFAFA 0,gainsboro 100%);
	background-image: linear-gradient(to bottom,#FAFAFA 0,gainsboro 100%);
	
}
FORM INPUT.mini_t{
	width: 75px !important;
}
FORM SELECT{
	padding: 0;
}
FORM .error{
	display: inline-block;
	text-align: left;
	font: bold 11px sans-serif;
	color: #F00;
	height: 20px;
	width: 500px;
	margin-bottom: 10px;
	margin-top: 10px;
}
FORM .mensaje{
}
.texto_field{
	font: 18px "Century Gothic", "Trebuchet MS", Helvetica, Arial, sans-serif;
	margin: 0 5px;
	height: 20px;
	width: 150px;
}
.cargando{
	color: #777;
	position: absolute;
	z-index: 100;
	font: 30px "Myriad Pro", Arial, Helvetica, sans-serif;
	line-height: 1.5;
	text-shadow: 1px 1px 0 white;
	text-align: center;
	margin: auto;
}
.cargando_bg{
	background: url(../img/cargando.gif) no-repeat center 50%;
}
.medio_form{
	float: left;
	width: 390px;
	margin: 0 50px 20px 0;
	text-align: right;
}
/*-> Formulario Post*/
.cuerpo_post FORM, .cuerpo_post FORM FIELDSET{
	margin: 40px auto auto;
}
.cuerpo_post FORM INPUT, .cuerpo_post FORM TEXTAREA, .cuerpo_post FORM .error{
	width: 400px !important;
}
/*-> menu*/
DL.menu{
	font: 14px "Century Gothic", "Trebuchet MS", Helvetica, Arial, sans-serif;
	margin-top: 5px;
}
DL.menu DT{
	margin: 30px 5px 10px;
}
DL.menu DD{
	margin: 10px;
}
DL.menu A{
	color: #222;
}
DL.menu DT A.menu_boton{
	float: left;
	margin-right: 5px;
	height: 14px;
	width: 14px;
	text-indent: -99999px;
	overflow: hidden;
	background: url(../img/sprite.png);
	margin-top: 2px;
}
DL.menu DT A.menu_expandir{
	background-position: -329px -26px;
}
DL.menu DT A.menu_reducir{
	background-position: -343px -26px;
}
/*-> Pie*/
#pie{
	text-align: center;
	width: 995px;
	height: 30px;
	background: #656565;
}
#pie, #pie A{
	font: 15px "Trebuchet MS", Helvetica, Arial, sans-serif;
	color: #FFFFFF;
}
#pie A{
	border-bottom: 1px dotted #FFF;
}
/*-> Misc*/
#GoogleMap_default{
	display: none;
}
A.cuerpo_mensaje{
	float: left;
	font: bold 20px "Century Gothic", "Trebuchet MS", Helvetica, Arial, sans-serif;
	text-align: center;
	width: 100%;
	height: 55px;
	color: #000000;
	background: #FFE055;
}
.sombra{
	box-shadow: 0px 0px 25px rgba(0,0,0,.8);
}
.menu_estatico{
	position: fixed;
	z-index: 100000000;
	left: 0;
	top: 0;
}
.titulo_rojo{
	border-color: #E02626 !important;
}
.titulo_morado{
	border-color: #C66AEC !important;
}
.titulo_celeste{
	border-color: #4DBFFC !important;
}
.titulo_naranja{
	border-color: #F59C1E !important;
}
.boton{
	width: 164px;
	height: 34px;
	float: right;
	background: url(../img/sprite.png) -402px -78px;
	text-indent: -9999px !important;
	overflow: hidden;
}
.boton:active{
	background: url(../img/sprite.png) -402px -111px;
}
.boton_buscar{
	background: url(../img/sprite.png) -402px -148px;
}
.boton_buscar:active{
	background: url(../img/sprite.png) -402px -181px;
}
.separador{
	border-top: 1px solid #E5E5E5;
	border-bottom: 1px solid #F7F7F7;
	background: #FFFFFF;
	clear: both;
	margin: 25px 0;
	height: 1px;
}
.cuerpo_mini #cuerpo_centro_izq{
	width: 200px !important;
}
.cuerpo_mini #cuerpo_centro_der{
	width: 680px !important;
}
.cuerpo_post #GoogleMap{
	width: 346px;
	height: 201px;
}
.letras_rojas{
	color: #E02626;
	font-size: 25px;
}
.letras_negras{
	color: #000;
	font-size: 20px;
}
.letras_azabache{
	color: #2D2D2D;
	font-size: 20px;
}
.float_left{
	float: left !important;
}
#cargando_mas_post{
	padding-left: 20px;
}
#cargando_mas_post A, #cargando_mas_post{
	font: 14px "Century Gothic", "Trebuchet MS", Helvetica, Arial, sans-serif;
	color: #222;
}
.cargando_mas_post_gif{
	background: url(../img/loading1.gif) no-repeat center left !important;
	padding-left: 20px !important;
}
.sub, .sup { 
	font-size: 75%;
	line-height: 0; 
	position: relative; 
	vertical-align: baseline; 
}
.sup { 
	top: -0.5em; 
}
.sub { 
	bottom: -0.25em; 
}
/*~~~~~~~~~~~~~ SlideShow ~~~~~~~~~~~~~~~~*/
#slideshow{
	background-color: #F5F5F5;
	border: 1px solid #FFFFFF;
	height: 338px;
	width: 900px;
	margin: auto;
	margin-top: 20px;
	position: relative;
	box-shadow: 0px 0px 15px rgba(0,0,0,.8);
	overflow: hidden;
}
#slideshow UL, UL#portada_individual{
	height: 338px;
	list-style: none outside none;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 900px;
	margin: 0;
}
#slideshow LI, #portada_individual LI{
	position: absolute;
	display: none;
	z-index: 10;
	margin: 0;
}
#slideshow LI:first-child{
	display: block;
	z-index: 1000;
}
#slideshow .slideActive{
	z-index: 1000;
}
#slideshow CANVAS{
	display: none;
	position: absolute;
	z-index: 100;
}
#slideshow .arrow{
	height: 86px;
	width: 60px;
	position: absolute;
	background: url(../img/arrows.png) no-repeat;
	top: 50%;
	margin-top: -43px;
	cursor: pointer;
	z-index: 5000;
}
#slideshow .previous{
	background-position: left top;
	left: 0;
}
#slideshow .previous:hover{
	background-position: left bottom;
}
#slideshow .next{
	background-position: right top;
	right: 0;
	margin-left: 0;
}
#slideshow .next:hover{
	background-position: right bottom;
}
#slideshow .slides_descripcion, #portada_individual .slides_descripcion{
	position: absolute;
	left: 0;
	top: 255px;
	width: 898px;
	height: 55px;
	font: 20px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #FFF;
	background: #000 0;
	opacity: 0.75;
	padding-left: 30px;
}
.stretch{
	width: 100%;
	display: inline-block;
	font-size: 0;
	line-height: 0;
}
/*~~~~~~~~~~~~~ Portada ~~~~~~~~~~~~~~~~~*/
UL#portada_individual{
	position: relative !important;
	height: auto;
	width: 675px;
	overflow: hidden;
}
#portada_individual LI{
	position: relative !important;
	display: block;
	width: 675px;
}
#portada_individual .slides_descripcion{
	top: 175px;
}
/*~~~~~~~~~~~ Light Box ~~~~~~~~~~~~~~~~~*/
#galeria{
    margin-top: 20px;
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}
.pic{
	background-size:100% auto !important;
	width: 100px;
	height: 100px;
	vertical-align: top;
	display: inline-block;
	*display: inline;
	zoom: 1;
	margin-bottom: 10px;
}
.pic A{
	width: 100px;
	height: 100px;
	text-indent: -99999px;
	display: block;
}
#jquery-overlay{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 90;
	width: 100%;
	height: 500px;
}
#jquery-lightbox{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	text-align: center;
	line-height: 0;
}
#jquery-lightbox A IMG{
	border: none;
}
#lightbox-container-image-box{
	position: relative;
	background-color: #FFF;
	width: 250px;
	height: 250px;
	margin: 0 auto;
}
#lightbox-container-image{
	padding: 10px;
}
#lightbox-loading{
	position: absolute;
	top: 40%;
	left: 0%;
	height: 25%;
	width: 100%;
	text-align: center;
	line-height: 0;
}
#lightbox-nav{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
}
#lightbox-container-image-box>#lightbox-nav{
	left: 0;
}
#lightbox-nav A{
	outline: none;
}
#lightbox-nav-btnPrev, #lightbox-nav-btnNext{
	width: 49%;
	height: 100%;
	zoom: 1;
	display: block;
}
#lightbox-nav-btnPrev{
	left: 0;
	float: left;
}
#lightbox-nav-btnNext{
	right: 0;
	float: right;
}
#lightbox-container-image-data-box{
	font: 10px Verdana, Helvetica, sans-serif;
	background-color: #FFF;
	margin: 0 auto;
	line-height: 1.4em;
	overflow: auto;
	width: 100%;
	padding: 0 10px;
}
#lightbox-container-image-data{
	padding: 0 10px;
	color: #666;
}
#lightbox-container-image-data #lightbox-image-details{
	width: 70%;
	float: left;
	text-align: left;
}
#lightbox-image-details-caption{
	font-weight: bold;
}
#lightbox-image-details-currentNumber{
	display: block;
	clear: left;
	padding-bottom: 1em;
}
#lightbox-secNav-btnClose{
	width: 66px;
	float: right;
	padding-bottom: 0.7em;
}
/*~~~~~~~~~~~  Social ~~~~~~~~~~~~~~~~~~~*/
.social{
	position: absolute;
	left: 50%;
	top: 103px;
	margin-left: 70px;
	width: 400px;
}
.botones_Sociales UL{
	list-style-type: none;
	text-align: center;
	display: inline-block;
}
.botones_Sociales LI{
	float: left;
	min-width: 70px;
	max-height: 110px;
	margin: 0px 10px;
}
.botones_Sociales .twitter-follow-button{
	color: #FFF;
	text-indent: -999999;
}
/*~~~~~~~~~~~  Post ~~~~~~~~~~~~~~~~~~~~*/
.post_size_13{
	font-size: 13px !important;
}
.post_size_19{
	font-size: 19px !important;
}
.post_size_21{
	font-size: 21px !important;
}
.post_link{
	color: #020000;
	font-weight: bold;
}
.post_link:hover{
	text-decoration: underline;
}
.post_img{
}
.post_align_left{
	text-align: left;
}
.post_align_center{
	text-align: center;
}
.post_align_right{
	text-align: right;
}
